.ApartmentInfo {
    margin: 2em 15%;
}

.pageTitle {
    font-size: 2.5em;
    margin-bottom: 1em;
}

@font-face {
    font-family: roomie-font;
    src: url('../../font/Proza-Regular.otf') format("opentype");
}

.user {
    font-size: 2em !important;
    font-family: roomie-font !important;
}