.TaskManager {
    margin: 2em 25%;
    width: 50%;
}

.floatingButton {
    position: fixed;
    bottom: 75px;
    right: 90px;
    z-index: 30;
}

.pageTitle {
    font-size: 2.5em;
    margin-bottom: 1em;
}

@media screen and (max-width: 500px) {
    .pageTitle {
        margin-bottom: 0;
    }
    .TaskManager {
        margin: 0 10% 0 20%;
        width: inherit;
    }
    .floatingButton {
        position: fixed;
        margin-bottom: 2.5em;
        margin-right: -1em;
        z-index: 30;
    }
}