.headers {
  font-size: 1em;
  font-style: italic;
  width: 40%;
  display: inline-block;
}

.headers2 {
  font-size: 1em;
  font-style: italic;
  float: right;
  margin-right: 3em;
}

.taskName {
  display: block;
  margin-left: 0.5em;
  font-size: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.taskProps {
  display: block;
  margin-top: 0.8em;
  margin-left: 1.6em;
}

.deleteButton {
  float: right;
}

@media screen and (max-width: 500px) {
  .headers {
    font-size: 1em;
    font-style: italic;
    width: 100%;
    display: block;
  }
  .headers2 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    font-size: 1em;
    font-style: italic;
    width: 100%;
    display: block;
    margin: 0;
    float: none;
   
    border: red 1px solid;
  }
  .taskProps {
    margin: 0;
  }
  .taskName {
    margin-left: 0;
  }
}